@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #aadef6;
}

h2{
    font-size: 5rem;
    color: #3f3d56;
    font-weight: bold;
    padding: 3rem;
}

.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-transform: uppercase;
}

.day,
.hour,
.minute,
.second{
    font-size: 3.5rem;
}

.calendar{
    height: 65vh;
}