* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(67, 220, 67, 0.486), rgba(241, 241, 65, 0.5));
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 40vw;
    min-width: 360px;
    min-height: 350px;
    border: 2px solid black;
    background-color: rgb(236, 246, 217);
    text-align: center;
    border-radius: 1rem;
    border: 1px solid greenyellow;

}

h1 {
    margin: 1.5rem auto;
    font-size: 2.2rem;
}


label p {
    text-align: left;
    margin-left: 10%;
    margin-top: 1rem;
}

input {
    width: 80%;
    height: 40px;
    font-size: 1.5rem;
    margin: auto;
    border-radius: 1rem;
    border: 1px solid greenyellow;
    padding-left: 1rem;
}

.btn {
    padding: 10px;
    width: 30%;
    text-align: center;
    margin: 1.5rem;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    border-radius: 7px;
    border: 1px solid green;
    cursor: pointer;
}

#timeLeft {
    display: none;
}

#boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box {
    width: 20vw;
    height: 15vh;
    min-width: 70px;
    min-height: 60px;
}

.box p {
    font-size: 2.5rem;
}

.box h3 {
    font-size: 1.5rem;
    margin: 8px auto;
}

#timeUp {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
}

#timeUp {
    display: none;
}