*{
    margin: 0;
    padding: 0;
}

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: relative;
}

.hidden{
    display: none;
}
.imgFront{
    position: absolute;
    display: block;
    opacity: 1;
    z-index: 3;
}

.imgLeft{
    position: absolute;
    display: block;
    height: 70%;
    opacity: 0.5;
    transform: translateX(35%);
    z-index: 2;
    overflow: hidden;
}

.imgLeft2{
    position: absolute;
    display: block;
    height: 50%;
    opacity: 0.2;
    transform: translateX(80%);
    z-index: 1;
    overflow: hidden;
}

.imgRight{
    position: absolute;
    display: block;
    height: 70%;
    opacity: 0.5;
    transform: translateX(-35%);
    z-index: 2;
    overflow: hidden;
}

.imgRight2{
    position: absolute;
    display: block;
    height: 50%;
    opacity: 0.2;
    transform: translateX(-80%);
    z-index: 1;
    overflow: hidden;
}

#previous{
    bottom: 40%;
    font-size: 3rem;
    position: absolute;
    margin: 2rem;
    left: 0;
    z-index: 10;
}

#next{
    bottom: 40%;
    font-size: 3rem;
    position: absolute;
    margin: 2rem;
    right: 0;
    z-index: 10;
}

.caption{
    position: absolute;
    bottom: 2rem;
    z-index: 5;
    color: white;
    width: 100%;
    text-align: center;
}
