* {
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
}

.slide{
animation: show 400ms forwards ease-in-out;
}

@keyframes show  {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.slideImg {
    width: 100vw;
}

#slideNumber{
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    margin: 1rem;
    color: white;
}

.caption {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1.5rem;
    font-size: 1.5rem;
    color: white;
}

#previous {
    position: absolute;
    bottom: 40%;
}

#next {
    position: absolute;
    bottom: 40%;
    right: 0;
}

#previous,
#next {
    font-size: 3rem;
    color: gray;
    background-color: transparent;
    border: none;
    margin: 0 4%;
    padding: 0;
}

#previous:hover,
#next:hover {
    color: black;
    cursor: pointer;
}

.dotsIndex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    background-color: gray;
    height: 12px;
    width: 12px;
    margin: 10px;
    border-radius: 50%;
}

.dot:hover {
    cursor: pointer;
}